body {
    color:  #222;
    background: #fff;
    margin: 0px;
    padding: 0px;
}

.title {
    font-weight: bold;
    }

.main_content {
    padding: 0px;
    margin: 0px;
}

nav {
    background-color: #000;
    padding: 10px;
    font-size: 20px;
    color: white;
}

nav > a {
    color: white;
    margin-right: 10px;
}

.hero   {
    background-color: #0073b7;
    color: white;
    font-size: 14px;
    padding: 50px 0px;
    text-align: center;
}

.hero h1 {
    font-size: 28px;
}

.hero a {
    color: white;
    text-decoration: underline;
}